/* Здесь базовая стилизация */
body, input, button, textarea {
    font-family: 'Arial', sans-serif;
    margin: 10px;
}

input, textarea {
    width: 300px; /* Ширина полей ввода */
    padding: 8px; /* Внутренний отступ */
}

button {
    padding: 10px 20px; /* Внутренний отступ */
    background-color: #4CAF50; /* Фоновый цвет */
    color: white; /* Цвет текста */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде руки при наведении */
}

button:hover {
    background-color: #45a049; /* Фоновый цвет при наведении */
}

#response {
    height: 150px; /* Высота поля ответа */
    margin-top: 5px;
}

footer {
    margin-top: 20px; /* Отступ сверху для footer */
}
